DATABASE_URL="your_database_url_here"

# NextAuth
NEXTAUTH_URL="your_nextauth_url_here"
NEXTAUTH_SECRET="your_nextauth_secret_here"

# Allowed Origins
ALLOWED_ORIGINS="your_allowed_origins_here"


# HR User
HR_EMAIL="your_hr_email@example.com"
HR_PASSWORD="your_hr_password"
HR_FULL_NAME="your_hr_full_name"